body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:  #f2f2f2;
}

#container {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 1200px;
}

#marca {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background: rgba(6, 6, 8, 0.904) url(imagens/cabeçalho.jpg) no-repeat center;
}
/*#imagem {
    width: 90%;
    overflow: hidden;
}*/

#conteudo {
    width: 75%;
    float: right;


}
#conteudo-principal {
    width: 64%;
    float: left;
    text-align: center;
}
img.img-noticia {
    width: 95%;
    padding: 2%;
}

#conteudo-secundario {
    width: 34%;
    float: right;
    background: #d1d1d1;
    text-align: center;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    border: 1px solid pink;
    width: 23%;
    float: left;
    background: #d1d1d1;

}
#navegacao ul {
    list-style: none;
}

#navegacao a {
    border: 1px solid rgb(92, 81, 81);
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    
}

#navegacao li a {
    display: block;
    background: gray;
    margin-left: 0px
}
#navegacao a:hover {
    color: aliceblue;
    background: rgb(63, 61, 61);
}

#rodape {
    clear: both;
    background: #9e9e9e;;
}